*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

body{
	background: #191919;
}
.gallery{
	width: 900px;
	display: flex;
	overflow-x: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
}
.gallery div{
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
	padding: 10px;
	flex: none;
}
.gallery div img{
	width: 100%;
	height: 350px;
	filter: grayscale(100%);
	transition: transform 0.5s;
}

	/*h scroll bar hidden*/
.gallery::-webkit-scrollbar{
	display: none; /* Chrome, Safari, Opera */
}

.gallery-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10% auto;
}

#backBtn,
#nextBtn{
	color: #FF7A32;
	padding: 30px;
	font-size: 45px;
	cursor: pointer;
	margin: 40px;
}

.gallery div img:hover{
	filter: grayscale(0);
	cursor: pointer;
	transform: scale(1.1);
}